html,
body {
  // min-height: 100%;
}
body {
  font-family: "Rockwell Nova", sans-serif;
  color: #fff;
  font-weight: 700;
  background: linear-gradient(180deg, #340000 34.78%, #a8291f 120.64%);
  // background: url("../img/bg/bg-ram.svg"), url("../img/bg/bg-bull.svg"),
  //   linear-gradient(180deg, #340000 34.78%, #a8291f 120.64%);
  // background-position: bottom, left center;

  background-repeat: no-repeat;
  // background-size: cover;
  position: relative;
}
.bg-bull {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -5;
  max-width: 100%;
}
.bg-ram {
  position: absolute;
  bottom: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: -1;
  max-width: 100%;
}

.main {
  margin-top: 102px;
}
.container {
  // width: 2196px;
  width: 90%;
  margin: 0 auto;
}
.hidden {
  display: none;
}

.title {
  position: relative;

  h3 {
    font-size: 55px;
    line-height: 1;
  }
}
.subtitle {
  position: absolute;
  right: -3%;
  top: -35px;
  font-size: 105px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.1);
}

.phone {
  text-align: center;
  // margin: 55px auto;
  &--footer {
  }
  &--restaraunt {
    position: absolute;
    text-align: left;
    bottom: 45px;
  }
}
.phone__text {
  font-size: 50px;
  line-height: 66px;
  text-transform: uppercase;
  &--footer {
    font-size: 20px;
    line-height: 26px;
    text-decoration-line: underline;
  }
  &--restaraunt {
    font-size: 30px;
    line-height: 40px;
  }
}
.phone__number {
  font-size: 80px;
  line-height: 105px;
  &--footer {
    font-size: 20px;
    line-height: 26px;
  }
  &--restaraunt {
    font-size: 50px;
    line-height: 66px;
  }
}

.download {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;

  &--restauran {
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
  }
}

button {
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}
